<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Lucky Cookie Fortune</title>
</head>

<body>
<img src="/site_media/{{ application.applicationImage }}" alt="Image!" height="50px" width="50px" />
</br>
<b>Application Name:</b> {{ application.applicationName }}
</br>
<b>Application Description:</b> {{ application.applicationDescription }}
</br>
<b>Application iTunes Link:</b> <a href="{{ application.iTunesLink }}">{{ application.iTunesLink }} </a>
</br>
<b>Application Support Email:</b> <a href="{{ application.supportEmail }}">{{ application.supportEmail }} </a>
</br>
</body>
<html>